<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/filter-icon-18.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fb537f619a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Spam Classifier for SMS</title>
</head>
<body>
    <div class="container-fluid text-center bg-dark pt-2 pb-2 text-light">
        <h1>Spam Detector for SMS</h1>
        <h4>A ML web app, built using Flask and Deployed using Heroku.</h4>
    </div>

    <div class="container text-center mt-5">
        <form action="{{ url_for('predict') }}" method="post">
            <textarea class="p-2" name="message" id="" cols="60" rows="10" placeholder="Enter your message here...."></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
    </div>

    <div class="container text-center mt-5">
        <a target="_blank" href="https://github.com/Mustafiz04"><i class="fab fa-github text-dark fa-2x"></i></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/mustafiz-kaifee-91b182190"><i class="fab fa-linkedin fa-2x"></i></a>
        <a target="_blank" href="http://www.instagram.com/codesthaan"><i class="fab fa-instagram text-danger fa-2x"></i></a>
        <br>
        Made with ❤ by <a href="https://mustafizkaifee.herokuapp.com/">Mustafiz Kaifee</a>
    </div>


</body>
</html>